@model SchoolManagement.Areas.AdmissionOfficer.ViewModels.StudentVm


@if (@ViewBag.Message != null)
{
    <div class="alert alert-danger">
        <p>@ViewBag.Message</p>
    </div>
}
@if (@ViewBag.SMS != null)
{
    <div class="alert alert-success">
        <p>@ViewBag.SMS</p>
    </div>
}
<form id="CustomValidate" style="margin-top:20px;padding:20px;background-color:ghostwhite; box-shadow:0 5px 15px #686868;border-radius:10px 15px;" asp-area="AdmissionOfficer" asp-action="AddStudent" asp-controller="Home" enctype="multipart/form-data" method="post">
    <h1 style="text-align:center;font-family:'Century Gothic';font-weight:bold;">New Student</h1>
    <hr style="width:70%;" />
    <h3 style="text-align:center;font-family:'Century Gothic';">Student's Information</h3>
    <hr style="width:50%;" />
    <div class="row" style="padding:5px;">
        @*row 1*@
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="form-group ">
                <label>Enter Student's Name:</label>
                <input type="text" class="form-control" placeholder="Name" asp-for="stdntnameVM" />
                <span asp-validation-for="stdntnameVM" class="text-danger"></span>

            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
                <label>Enter Student's Nationality:</label>
                <input type="text" class="form-control" placeholder="Nationality" asp-for="stdntnationVM" />
                <span asp-validation-for="stdntnationVM" class="text-danger"></span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
                <label>Select Gender:</label>
                <select  class="form-control" asp-for="stdntgenderVM"   >
                    <option  hidden disabled selected>Please Select Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
                <span asp-validation-for="stdntgenderVM" class="text-danger"></span>
            </div>
        </div>
    </div>


    <div class="row" style="padding:5px;">
        @*row 2*@
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <div class="form-group">
                <label>Enter Student's DOB:</label>
                <input type="date" class="form-control" placeholder="Date of Birth" asp-for="dobVM" />
                <span asp-validation-for="dobVM" class="text-danger"></span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <div class="form-group">
                <label>Enter Student's Blood Group:</label>
                <select class="form-control" asp-for="stdntbgVM">

                    <option value="No_Value" hidden disabled selected>Please Select Blood Group </option> 
                    <option value="A-positive">A-positive</option> 
                    <option value="A-negative">A-negative</option> 
                    <option value="B-positive">B-positive</option> 
                    <option value="B-negative">B-negative</option> 
                    <option value="AB-positive">AB-positive</option> 
                    <option value="AB-negative">AB-negative</option> 
                    <option value="O-positive">O-positive</option> 
                    <option value="O-negative">O-negative</option> 

                </select>
                
                <span asp-validation-for="stdntbgVM" class="text-danger"></span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <div class="form-group">
                <label>Enter Year of Admission:</label>
               
                <input type="number" class="form-control" placeholder="Year" asp-for="stdntyearVM" value="@DateTime.Now.Year" />
                <span asp-validation-for="stdntyearVM" class="text-danger"></span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <div class="form-group">
                <label>Admitted for:</label>
                <select asp-for="stdntclsVM" asp-items="@(new SelectList(ViewBag.Class,"ClassId","ClassName")) " class="form-control">
                    
                    <option  hidden disabled selected >Please Select Class</option>
                </select>
                
                <span asp-validation-for="stdntclsVM" class="text-danger"></span>
            </div>
        </div>
    </div>



    <div class="row" style="padding:5px;">
        @*row 3*@
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">
            <div class="form-group">
                <label>Enter Student's Current Address:</label>
                <textarea class="form-control" cols="2" rows="6" placeholder="Current Address" asp-for="stdntcaddrssVM"></textarea>
                <span asp-validation-for="stdntcaddrssVM" class="text-danger"></span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
                <label>Enter Student's Permanent Address:</label>
                <textarea class="form-control" cols="2" rows="6" placeholder="Permanent Address" asp-for="stdntpaddrssVM"></textarea>
                <span asp-validation-for="stdntpaddrssVM" class="text-danger"></span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            @*<div class="js-upload" uk-form-custom>
                    <input type="file" multiple>
                    <button class="uk-button uk-button-default" type="button" tabindex="-1">Select</button>
                </div>*@
            <div class="form-group">
                <label>Enter a photo of Student:</label>
                <input id="filePhoto" name="image" type="file" asp-for="stdntphotoVM" />
                <img id="previewHolder"  style="overflow:hidden;width:200px;height:130px;box-shadow:0 5px 15px #686868;border-radius:10px 15px ;" />
                <span asp-validation-for="stdntphotoVM" class="text-danger"></span>
            </div>
        </div>
    </div>

    <hr style="width:80%;" />
    <h3 style="text-align:center;font-family:'Century Gothic';">Guardian's Information</h3>
    <hr style="width:50%;" />

    <div class="row">
        @*row 4*@
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
            <div class="form-group">
                <label>Enter Father's Name:</label>
                <input type="text" class="form-control" placeholder="Father's Name" asp-for="gnameFVM" />
                <span asp-validation-for="gnameFVM" class="text-danger"></span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
                <label>Enter Mother's Name:</label>
                <input type="text" class="form-control" placeholder="Mother's Name" asp-for="gnameMVM" />
                <span asp-validation-for="gnameMVM" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        @*row 5*@
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
            <div class="form-group">
                <label>Enter Father's Contact No.:</label>
                <input type="number" class="form-control" placeholder="Father's Phone/No" asp-for="gphoneFVM" />
                <span asp-validation-for="gphoneFVM" class="text-danger"></span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
                <label>Enter Mother's Contact No.:</label>
                <input type="number" class="form-control" placeholder="Mother's Phone/No" asp-for="gphoneMVM" />
                <span asp-validation-for="gphoneMVM" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        @*row 6*@
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
            <div class="form-group">
                <label>Enter Father's E-mail Address:</label>
                <input type="email" class="form-control" placeholder="Father's E-mail" asp-for="gemailFVM" />
                <span asp-validation-for="gemailFVM" class="text-danger"></span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
                <label>Enter Mother's E-mail Address:</label>
                <input type="email" class="form-control" placeholder="Mother's E-mail" asp-for="gemailMVM" />
                <span asp-validation-for="gemailMVM" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        @*row 7*@
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
            <div class="form-group">
                <label>Enter Father's Occupation:</label>
                <input type="text" class="form-control" placeholder="Father's Occupation" asp-for="goccupationFVM" />
                <span asp-validation-for="goccupationFVM" class="text-danger"></span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
                <label>Enter Mother's Occupation:</label>
                <input type="text" class="form-control" placeholder="Mother's Occupation" asp-for="goccupationMVM" />
                <span asp-validation-for="goccupationMVM" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        @*row 7*@
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
            <div class="form-group">
                <label>Enter Father's Designation:</label>
                <input type="text" class="form-control" placeholder="Father's Designation" asp-for="gdesignationFVM" />
                <span asp-validation-for="gdesignationFVM" class="text-danger"></span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
                <label>Enter Mother's Designation:</label>
                <input type="text" class="form-control" placeholder="Mother's Designation" asp-for="gdesignationsMVM" />
                <span asp-validation-for="gdesignationsMVM" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        @*row 8*@
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
                <label>Enter Father's Oragnization:</label>
                <input type="text" class="form-control" placeholder="Father's Oragnization" asp-for="gorganisationFVM" />
                <span asp-validation-for="gorganisationFVM" class="text-danger"></span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
                <label>Enter Mother's Oragnization:</label>
                <input type="text" class="form-control" placeholder="Mother's Oragnization" asp-for="gorganisationMVM" />
                <span asp-validation-for="gorganisationMVM" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        @*row 9*@
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <label>Current Address</label>
            <textarea class="form-control" cols="5" rows="6" placeholder="Current Address" asp-for="stdntcaddrssVM"></textarea>
            <span asp-validation-for="stdntcaddrssVM" class="text-danger"></span>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-6">
            <label>Permanent Address</label>
            <textarea class="form-control" cols="5" rows="6" placeholder="Permanent Address" asp-for="stdntpaddrssVM"></textarea>
            <span asp-validation-for="stdntpaddrssVM" class="text-danger"></span>
        </div>
    </div>
    <hr style="width:70%;" />
    <div class="row" style="padding:10px;">
        @*row 10*@
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2" style="float:right;">
            <button class="btn btn-primary" type="submit" style="float:right;" id="ValidateButton">Add New Student</button>
        </div>
    </div>
</form>

@section Scripts
{
    <script>
       
        //$(document).ready(function () {
        //    $("#ValidateButton").click(function () {


        //        $.validator.addMethod("ValidateGender", function (value,element) {
        //            return (this.optional(element) || value != "Not_Selected");
        //        }, "Please Select Gender");
               
            
            
        //    });
        //    $("#CustomValidate").validate({
        //        rules: {
        //            Gender: {
        //                ValidateGender:true
        //            },
        //            erroElement:'span'
        //        }
                
        //    });
           


        //});
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#previewHolder').attr('src', e.target.result);

                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#filePhoto").change(function () {
            readURL(this);
        });
    </script>
}







